
/* Progress Bar*/
#progressBar{
	width: 100%;
	background-color: grey;
}

#Bar {
	width: 1%;
	height: 30px;
	background-color: green;
}
/*End of progress bar*/

#mainContent{
	display: none ; 
} 

ul {
	list-style-type:none;
} 


#Box{
	border-color  : red ;
	border-style : solid ;
	box-sizing:border-box;
	font-family:'Fira Mono', monospace;
	font-size:20px;
	height:70vh;
	overflow:hidden;
	padding:10vmin;
	width:100vw;
}  
