
/* Progress Bar*/
#progressBar{
	width: 100%;
	background-color: grey;
}

#Bar {
	width: 1%;
	height: 30px;
	background-color: green;
}
/*End of progress bar*/

#mainContent{
	display: none ; 
} 

ul {
	list-style-type:none;
} 

a{
	color : #51fe7d  ;
} 

/*Create color effect while hover over the button*/
li{
    color : orange ; 
} 

li:hover{
	background-color : yellow ; 
} 


#Box{
	border-color  : #51fe7d  ;
	border-style : solid ;
	box-sizing:border-box;
	font-family:'Fira Mono', monospace;
	font-size:20px;
	height:60vh;
	overflow:hidden;
	padding:20vmin;
	width:90vw;
}  
