
/* Progress Bar*/
#progressBar{
	width: 100%;
	background-color: grey;
}

#Bar {
	width: 1%;
	height: 30px;
	background-color: green;
}
/*End of progress bar*/

#mainContent{
	display: none ; 
    align-items : center ;
} 
#Box>h1{
    text-align:center ;
}
#buttons{
    text-align : center ; 
} 
ul {
	list-style-type:none;
} 


/*Create color effect while hover over the button*/

#Box{
	border-color  : #51fe7d  ;
	border-style : solid ;
	box-sizing:border-box;
	font-family:'Fira Mono', monospace;
	font-size:20px;
	height:60vh;
	overflow:hidden;
	padding:20vmin;
	width:90vw;
}  
