
.item-list {
  float: left;
  padding: 0;
  list-style: none;
  width: 100%;
}
.item-list li.active {
  list-style: square;
}
.item-list li a {
  display: block;
  width: fit-content;
  padding: 10px 10px;
  border-radius: 2px;
  font-size: 3vh;
}
.item-list li a:hover {
  background: #51fe7d;
  color: #272b23;
  text-decoration: none;
}

.float-right {
  text-align: right;
}

#detail-container li {
  list-style: square;
  margin-bottom: 10px;
}

#portfolio > div > div.col-12 > ul{ 
	border-bottom : none ; 
} 


